.bg-cover{
    background-size: cover;
}

.bg-contain{
    background-size: contain;
}

.bg-white{
    background-color: #FAFDFD;
}

.bg-blue{
    background-color:#69ECC3;
}

.color-blue{
    color: #69ECC3;
}

.border-blue{
    border-color: #69ECC3!important;
}

.w-150x{
    width: 150px;
}

.w-200x{
    width: 200px;
}

.w-600x{
    width: 600px;
}

.h-150x{
    height: 150px;
}

.h-200x{
    height: 200px;
}

.h-250x{
    height: 250px;
}

.h-300x{
    height: 300px;
}

.h-350x{
    height: 350px;
}

.h-500x{
    height: 500px;
}

.h-600x{
    height: 600px;
}