<div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{{url_for('detail', recipe_id = breakfast_rec._id)}}">
                <img class="d-block w-50 mx-auto h-500x bg-cover" src="{{breakfast_rec.image}}" alt="First slide">
              </a>
              <div class="carousel-caption d-none d-md-block my-auto">
                <h4 class = "text-warning">Whether you are craving for a relaxing breakfast</h4>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{{url_for('detail', recipe_id = lunch_rec._id)}}">
                <img class="d-block w-50 mx-auto h-500x bg-cover" src="{{lunch_rec.image}}" alt="Second slide" >
              </a>
              <div class="carousel-caption d-none d-md-block my-auto">  
                <h4 class = "text-warning">Or a fulfilling and delightful lunch</h4>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{{url_for('detail', recipe_id = dinner_rec._id)}}">
                <img class="d-block w-50 mx-auto h-500x bg-cover" src="{{dinner_rec.image}}" alt="Second slide" >
              </a>
              <div class="carousel-caption d-none d-md-block my-auto">  
                <h4 class = "text-warning">Or trying out something fancy for dinner</h4>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{{url_for('detail', recipe_id = dessert_rec._id)}}">
                <img class="d-block w-50 mx-auto h-500x bg-cover" src="{{dessert_rec.image}}" alt="Second slide" >
              </a>
              <div class="carousel-caption d-none d-md-block my-auto">  
                <h4 class = "text-warning">We have got your back, and more!</h4>
              </div>
            </div>
          </div>
</div>