<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website's name</title>
</head>
<body>
    <h1>Food Recipes </h1>
    <div>
        <a href="{{ url_for('admin')}}">Admin login</a>
    </div>
    <br>
    <form method = 'post'>
        <label> Ingredients </label>
        <input type = 'text' name = 'ingredients' value = "What's in your fridge ...">
        <br>
        <input type = 'submit' value = "Search for a recipe">
        <br>
        <!-- Hint: Set default input value -->
        <!-- Radio button -->
    </form>
    <div>
        <a href = "{{ url_for('user', g = 0) }}"> Users info </a>
    </div>
</body>
</html>