<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Everyone Can Cook</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/navigation.html" %}
    {% include "homepage/carousel.html" %}
    <h3 class = 'text-center bg-blue text-light mt-4'> Our Top Favorite Choices</h3>
    {% include "homepage/top-choice.html" %}
    <div class = 'd-flex justify-content-center'>
        <a href = "{{ url_for('new_recipe')}}" class = 'btn bg-blue text-light' role = 'button'>
                Couldn't find your favorite recipe? Share it with us!
        </a>
    </div> 
    {% include "homepage/social-media.html" %}
</body>
</html>