<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Submiting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <title>Share a Recipe</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/navigation.html" %}
    <form method="post">
        <label>Name</label>
        <input type="text" name= "name">
        <br>

        <label>Serving</label>
        <input type="number" name="servings">
        <br>

        <label>Ingredients</label>
            <textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea>
        <br>

        <label>Difficulty</label>
        <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br>

        <label>Meal Type</label>
            <input type="radio" name="Breakfast" value="breakfast"> Breakfast<br>
            <input type="radio" name="Lunch" value="lunch"> Lunch<br>
            <input type="radio" name="Dinner" value="dinner"> Dinner<br>
            <input type="radio" name="Snack" value="dinner"> Snack<br>
            <input type="radio" name="Dessert" value="dinner"> Dessert<br>
            <input type="radio" name="other" value="other">Other<br>
        <br>

        <label>Instructions</label>
            <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea>
        <br>
        <input type = 'submit' name = "submit" value = "Submit">
        <br>
    </form>
    {% include "homepage/social-media.html" %}
</body>
</html>