<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Result</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/search-result.html" %}
    <div class = 'text-center font-weight-bold text-light bg-blue mt-4' style = 'height: 80px; font-size: 150%'>
            <div class = 'py-4'></div>
    </div> 
</body>
</html>
