<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Everyone Can Cook</title>
</head>
<body>
    <h1> Update service </h1>
    <form method = 'post'>
        <label> Name </label>
        <input type = 'text' name = 'name' value = "{{recipe.name}}">
        <br>
        <label> Servings </label>
        <input type = 'text' name = 'servings' value = "{{recipe.servings}}">
        <br>
        <label> Time of day</label>
        <input type = 'text' name = 'meal_type' value = "{{recipe.meal_type}}">
        <br>
        <label> Ingredients</label>
        <textarea name= "instructions" id= "instructions" cols="30" rows="10">{{ recipe.ingredients|join('\n') }}</textarea>
        <br>
        <label> Instructions</label>
        <textarea name= "instructions" id= "instructions" cols="30" rows="10">{{recipe.instructions}}</textarea>
        <br>
        <input type = 'submit' value = "Cập nhật">
        <br>
</body>
</html>